#window {
    font-family: whiterabbit;
    border-radius: 0px;
    background-color: transparent;
}

#input {
    margin: 10px 0px;
    border-radius: 6px;
    box-shadow: inset -2px -2px 1px rgba(0, 0, 0, 0.5), inset 1px 1px 1px rgba(255, 255, 255, 0.5);
    background-color: rgba(155, 165, 155, 0.1);
    border: none;
}

#outer-box {
padding: 0px 8px;
background-color: rgba(125, 125, 200, 0.4);
margin: 6px 4px;
border-radius: 6px;
color: #ffffff;
box-shadow: inset -3px -3px 1px rgba(0, 0, 0, 0.5), inset 2px 2px 1px rgba(255, 255, 255, 0.5);
text-shadow: 3px 3px 2px black;
}

#entry {
    border-radius: 6px;
    margin: 0px 8px;
}

#entry:selected {
    background-color: rgba(155, 165, 155, 0.1);
    box-shadow: inset -2px -2px 1px rgba(0, 0, 0, 0.5), inset 1px 1px 1px rgba(255, 255, 255, 0.5);
}

#scroll {
    margin-bottom: 10px;
    border-radius: 6px;
    box-shadow: inset -2px -2px 1px rgba(0, 0, 0, 0.5), inset 1px 1px 1px rgba(255, 255, 255, 0.5);
}
